.button {
	padding: 5px 10px;
    text-transform: capitalize;
    background-color: #333333;
    color: #ffffff;
    font-size: 1.125rem;
	border-radius: 5px;
}

.normal {
	text-transform: unset;
}

.right {
	float: right;
}

.primary {
	margin: auto;
	background-color: green;
	color: white;
}
